---
import IssueSlider from "../../../components/IssueSlider.astro";
import Layout from "../../../layouts/Layout.astro";

import type { SingleIssuePreview } from "../../../components/IssueSlider.astro";
import { elasticGetIssue } from "../../../util/elastic";

const { id } = Astro.params;
let data;
let issuesInSeries: SingleIssuePreview[] = [];
let viewVolume;
try {
  if (id) {
    data = await elasticGetIssue(id);
  }
} catch (error) {
  console.error(error);
}

const title = data
  ? `${data.series_name} #${data.issue_number}`
  : "Issue not found";
---

<Layout title={title}>
  {
    data ? (
      <>
        <h2 class="mb-2">
          <a class="text-3xl" href={`/series/${data.series_id}`}>
            {data.series_name}
          </a>{" "}
          #{data.issue_number}
        </h2>
        <h2 class="text-xl">{data.issue_name}</h2>
        <p class="mb-4">{data.issue_date}</p>
        <img
          class="mb-4"
          src={data.issue_cover}
          alt={data.issue_name}
          width="421"
          height="640"
          loading="lazy"
        />
        <h2 class="text-xl mt-8 mb-4">Other issues in series</h2>
        <IssueSlider issues={issuesInSeries} showMore={viewVolume} />
      </>
    ) : (
      <p>Issue not found</p>
    )
  }
</Layout>
