---
import Layout from "../../../layouts/Layout.astro";
import { kvGetComicIssue } from "../../api/kv";

const kv = Astro.locals.runtime.env.COMICS;
const { id } = Astro.params;
let data;
try {
  if (id) {
    data = await kvGetComicIssue(id, kv);
  }
} catch (error) {}

const title = data
  ? `${data.volume.name} #${data.issueNumber} - ${data.name}`
  : "Issue not found";
---

<Layout title={title}>
  {
    data ? (
      <>
        <h1 class="text-3xl">{data.name}</h1>
        <h2 class="text-lg mb-4">
          {`${data.volume.name} #${data.issueNumber}`}
        </h2>
        <img
          class="mb-4"
          src={data.cover}
          alt={data.name}
          width="421"
          height="640"
          loading="lazy"
        />
        <div set:html={data.description} />
      </>
    ) : (
      <p>Issue not found</p>
    )
  }
</Layout>
