---
import type { Issue } from "@util/comics.types";
import { Image } from "astro:assets";

interface Props {
  issues: Pick<
    Issue,
    "issue_id" | "issue_cover" | "issue_number" | "series_name"
  >[];
  showMore?: {
    cover: string;
    volumeId: number;
  };
}

const { issues, showMore } = Astro.props;
---

<ul class="flex overflow-x-scroll hide-scrollbar">
  {
    issues.map((issue) => (
      <li class="mr-4 last:mr-0 flex flex-col-reverse text-center">
        <a href={`/comic/${issue.issue_id}`}>
          <Image
            class={"rounded-md max-w-40"}
            src={issue.issue_cover}
            densities={[1.5, 2]}
            height="244"
            width="160"
            alt={`Cover for issue #${issue.issue_number} of ${issue.series_name}`}
            format="avif"
          />
        </a>
      </li>
    ))
  }
  {
    showMore ? (
      <li class="mr-4 last:mr-0 flex flex-col-reverse text-center">
        <a class="relative" href={`/series/${showMore.volumeId}`}>
          <span class="absolute inset-0 flex justify-center items-center backdrop-blur-sm bg-black/40">
            View more
          </span>
          <img
            class="rounded-md max-w-40"
            src={showMore.cover}
            alt="View more issues"
            loading="lazy"
            height="246"
            width="160"
          />
        </a>
      </li>
    ) : null
  }
</ul>
